/*--- RESET --------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}
button::-moz-focus-inner {padding: 0; border: 0;}
a {color: inherit; text-decoration: none;}

/*--- GLOBAL STYLES ------------------------------------------*/
html, body {
    background: #ffffff;
    font-family: 'Palatino Linotype', Palatino, 'URW Palladio L', 'Book Antiqua', serif;
    color: #222222;
    height: 100%;
}

body {
    min-width: 320px;
}

a:hover {
    color: #9a2e2e;
}

input, textarea {
    padding: 0.2em;
    width: 100%;
    display: block;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

input:focus, textarea:focus {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2) inset,
        0 0 5px rgba(0,0,0,.2);
}

input.monospace, textarea.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.tags {
    text-align: right;
    font-size: 0.7em;
    color: #aaaaaa;
    line-height: 1.1em;
}

.placeholder {
    color: #666666;
}

.LaTeX {
    text-transform: uppercase;
}
.LaTeX sup {
    font-size: 0.85em;
    vertical-align: 0;
    position: relative;
    bottom: 0.25ex;
    margin-left: -0.36em;
    margin-right: -0.15em;
}
.LaTeX sub {
    font-size: 1em;
    vertical-align: 0;
    position: relative;
    top: 0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

/*--- TOP BAR ------------------------------------------------*/
#topbar {
    background: #000000;
    width: 100%;
    height: 0.8em;
}

/*--- BOTTOM BAR ---------------------------------------------*/
#bottombar {
    background: #000000;
    width: 100%;
    height: 3em;
    color: #cccccc;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 0;
}

#bottombar div {
    margin: 1.1em 2em;
    font-size: 0.8em;
}

#bottombar a {
    padding: 0 0.3em;
    margin: 0 0.5em;
}

#bottombar a:hover {
    color: #ffffff;
}

/*--- KEEP BOTTOM BAR AT BOTTOM ------------------------------*/
#wrapper {
    min-height: 100%;
    position: relative;
}

/*--- CONTAINER FOR ALL CONTENT ------------------------------*/
#container {
    width: 50em;
    margin: auto;
    margin-top: 3em;
    padding-bottom: 7em;
}

/*--- ENTRY --------------------------------------------------*/
.entry {
    margin: 0 8em 4em 12em;
    min-height: 8em;
}

.entry h2 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0.7em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.entry .info .more {
    margin-top: -0.5em;
    color: #aaaaaa;
    float: left;
}

.entry .info .tags {
    margin-left: 7em;
    margin-bottom: 0.2em;
}

.entry .info .commentcount {
    margin-left: 7em;
    font-size: 0.7em;
    color: #aaaaaa;
    text-align: right;
}

.entry .postnavigation {
    overflow: hidden;
    margin-top: 1em;
    color: #aaaaaa;
}

.entry .date {
    float: left;
    margin-top: 1.5em;
    margin-left: -12em;
    width: 10em;
    text-align: right;
    letter-spacing: 0.1em;
}

.entry .date > span {
    display: block;
}

.entry .date .day {
    font-size: 2.5em;
    line-height: 0.8em;
    letter-spacing: 0em;
}

.entry .date .day:after {
    content: '.';
    font-size: 0.7em;
}

.entry .date .month {
    font-variant: small-caps;
}

.entry .adminbox {
    float: right;
    width: 11em;
    margin-right: -12em;
    margin-top: 1em;
}

/*--- ENTRY ELEMENTS -----------------------------------------*/
.entry p {
    margin-bottom: 1em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.entry p a, .entry li a {
    text-decoration: underline;
    color: #748300;
}

.entry p a:hover, .entry li a:hover {
    color: #9a2e2e;
}

.entry h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.entry ul {
    margin-bottom: 1em;
    margin-left: 2.5em;
    list-style-type: disc;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.entry ol {
    margin-bottom: 1em;
    margin-left: 2.5em;
    list-style-type: decimal;
}

.entry li {
    margin-bottom: 1em;
    text-align: justify;
}

.entry .compact li {
    margin-bottom: 0.3em;
}

.entry pre {
    margin-bottom: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    letter-spacing: -0.05em;
    overflow: hidden;
    width: 100%;
}

.entry pre code {
    font-size: 1em;
    background: #f3f3f3;
    color: #000000;
    padding: 1em 0.5em;
    display: block;
    border-radius: 3px;
}

.entry pre:hover {
    width: auto;
    min-width: 100%;
    overflow: visible;
    float: left;
}

.entry code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    letter-spacing: -0.05em;
    padding: 0.2em 0.5em;
    background: #f3f3f3;
    color: #000000;
    border-radius: 3px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.entry .imagebox {
    display: block;
    margin: 2em auto;
    text-align: center;
    font-style: italic;
}

.entry .imagebox img {
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    max-width: 450px;
    max-height: 450px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: none;
    border-radius: 3px;
}

.entry blockquote {
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.entry blockquote p {
    margin-bottom: 0;
}

.entry blockquote:after {
    content: attr(cite);
    font-size: 0.6em;
    color: #aaaaaa;
    font-style: italic;
    display: block;
    text-align: right;
}

.entry blockquote p:before, .entry blockquote p:after {
    font-family: Georgia, serif;
    font-size: 1.3em;
    color: #aaaaaa;
    line-height: 0.1em;
}

.entry blockquote p:before { content: "„ "; }
.entry blockquote p:after { content: " “"; }

.entry blockquote .quoteinsert {
    color: #888;
    font-size: 0.8em;
}

.entry hr {
    display: block;
    visibility: visible;
    border: none;
    border-bottom: 1px solid #999999;
    width: 5em;
    margin: 1em auto;
}

/*--- PAGE HEADER --------------------------------------------*/
#header {
    margin-bottom: 5em;
}

#header h1 {
    border-bottom: 1px solid #cccccc;
    font-size: 3em;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 0.3em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 1px 5px rgba(0,0,0,.2);
}

#header h1 a:hover {
    color: inherit;
}

#header #navigation {
    float: right;
    margin-top: 1.7em;
    margin-right: 3em;
}

#header #navigation a {
    margin-left: 1.7em;
    padding: 0 0.5em;
    color: #aaaaaa;
    font-variant: small-caps;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

#header #navigation a:hover {
    color: #222222;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
}

/*--- PAGINATION ---------------------------------------------*/
#pagination {
    text-align: center;
    margin-bottom: 2em;
}

#pagination a, #pagination .skip {
    background:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAAFCAMAAACEse6wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRF////dHR0REREx8fHXWkUAAAAAC1JREFUeNpiYBipgJmJmWEUjLQ4Zxq5sc44QgETCIxQv4/m9FEwWqePBAAQYAB0vQIiJPzMvgAAAABJRU5ErkJggg==")
        repeat-x
        scroll
        0% 100%;
    color: #ffffff;
    padding: 10px;
    padding-top: 0;
}

#pagination a:hover, #pagination .current {
    background-position: 50% 100%;
    color: #222222;
}

#pagination .skip {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAMAAABRhm3UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////dHR0GgEaJQAAABJJREFUeNpiYEADjECAKgIQYAAAZQAFgK0vZgAAAABJRU5ErkJggg==");
    padding: 0 13px 10px;
}

/*--- POPUP --------------------------------------------------*/
.popup {
    display: block;
    width: 15em;
    margin: 3em auto 4em;
    padding: 1em 2em;
    background: #fafafa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    text-align: center;
}

.popup h2 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: 2px 1px 5px rgba(0,0,0,.2);
}

.popup input {
    margin-bottom: 1em;
}

/*--- TABLE USED IN POSTFORM AND ARCHIVE ---------------------*/
.table {
    width: 95%;
    margin: auto;
    margin-bottom: 2em;
}

.table td {
    padding: 0.5em;
}

.table .left {
    width: 8.5em;
    text-align: right;
    vertical-align: top;
}

/*--- TEXTTOOLS ----------------------------------------------*/
.texttools {
    text-align: center;
}

/*--- PREVIEW ------------------------------------------------*/
.preview {
    border-top: 3px solid #eeeeee;
    padding-top: 1em;
    margin-top: 4em;
}

/*--- ARCHIVE ------------------------------------------------*/
.archive {
    margin-bottom: 4em;
}

.archive .noposts {
    text-align: center;
    font-size: 1.5em;
}

.archive .timeline {
    width: 32em;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
}

.archive .timeline a {
    margin-right: 13px;
    margin-left: 13px;
}

.archive .timeline a:hover {
    color: #9a2e2e !important;
}

.archive .adminbox {
    float: right;
}

.archive h2 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

/*--- STATISTICS ---------------------------------------------*/
.statistics .graphs {
    margin-bottom: 3em;
}

.statistics .graphs a {
    display: block;
    float: left;
    clear: none;
    width: 249px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpi/P//PwMMtLW1ITjYgQATA4mABV2gqqqKEZtCoO0fwBqIcAYKADnpI8htuEzGpoGBVBso8zQhP7HgCyFoyMgDxT9S7KQPQNOI0gAQYABBlBoyuWKGWgAAAABJRU5ErkJggg==")
        no-repeat
        235px 9px
        #fafafa;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #e5e5e5;
}

.statistics .graphs a:hover {
    color: inherit;
    background-color: #f0f0f0;
}

.statistics .graphs .graph {
    clear: none;
    width: 242px;
}

.statistics .postcount {
    text-align: center;
    font-size: 1.3em;
}

.statistics .postcount .count {
    font-size: 1.7em;
    font-weight: bold;
}

/*--- FILES --------------------------------------------------*/
.files {
    width: 80%;
    margin: auto;
}

.files .file {
    display: block;
    border-radius: 3px;
    padding: 3px 5px;
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

.files .file:hover {
    background: #f0f0f0;
}

.files .file .rename {
    color: #83BD41;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    margin-left: 1em;
    font-weight: bold;
}

.files .file .delete {
    color: #c00;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
    margin-left: 0.5em;
    font-weight: bold;
}

/*--- NOTIFICATIONS ------------------------------------------*/
p.msg-error, p.msg-success {
    color: #fff;
    margin: -2em 5em 3em;
    padding: 0.2em 1em;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 5px #aaaaaa;
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
}

p.msg-error {
    background: #c00;
}

p.msg-success {
    background: #83BD41;
}

/*--- COMMENTS -----------------------------------------------*/
.comment {
    width: 30em;
    margin: auto;
    margin-bottom: 2em;
    position: relative;
}

.comment h2 {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.comment .title {
    font-family: Arial, sans-serif;
    margin-bottom: 0.3em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.comment .content {
    margin-left: 2em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


.comment .content a {
    text-decoration: underline;
    color: #748300;
}

.comment .content a:hover {
    color: #9a2e2e;
}

.comment input, .comment textarea {
    margin-bottom: 0.5em;
}

.comment button {
    margin-top: 1.5em;
    position: absolute;
    right: 0;
}

/*--- SEARCH -------------------------------------------------*/
.tagcloud {
    text-align: center;
    padding: 0 6em;
    line-height: 2.4em;
}
.tagcloud a { display: inline-block; }
.tagcloud a:nth-child(2n+1)  { transform: translateY( 3px); }
.tagcloud a:nth-child(3n+2)  { transform: translateY(-2px); }
.tagcloud a:nth-child(5n+3)  { transform: translateY( 3px); }
.tagcloud a:nth-child(7n+5)  { transform: translateY(-2px); }
.tagcloud a:nth-child(11n+7) { transform: translateY( 3px); }

/*--- ICONS --------------------------------------------------*/
.icon.edit:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAYAAAB4MH11AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALpJREFUeNq0k8ENwjAMRZsJsrI3YISM4m7gFXrkCDc4mVhywDJ2Qg986UtVGr2nNs625am92Mta1LUwzFx7kT+R5zqDk4FbSQYn/g6u4E1rJTN4076zgo+0SODhZr1FggxuBbiCOwGegdM45B/hNA75r3AJGAhoQ7hCwEBAm8Ilu5sSyOAq2N1IwgwuOZyAMrgKDjfrNINLHsGFouzWOsESXhT47L3q18gvu/TeEwHru5vdX0oJ978EGAB9MYSwpAPp3wAAAABJRU5ErkJggg==");
}

.icon.lock:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAYAAAB4MH11AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNqMlOENgjAUhFvDf9wAN2AFNoENOoJuApsgExAngA3qBvVIrviobfGSS/vg8x2PBpVzTglV8Ag72sJmu7Fx3l7YV/DovrLwgZc/KOGFjWcGWdYmDMBawgsbzwyyrE0swLBZLyaqGWIjAYbNejFRzZCdv4hmV66DuPaCn+KeyvFa6x++4HqHG+47sVex5niyA486yettDCQ7dSJwWpbqXFpO4EcdImBHh/qLl2ewwhPXJqhjWjH5gRe1igV43eBHcA45ZfkicjiTf3+pQ5bX+dRJvgje3aZ3AHeJgI7fRJ4n1Iq/h5hb+aHBrctr5z8CDAACOPhHMCy5dwAAAABJRU5ErkJggg==");
}

.icon.delete:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAYAAAB4MH11AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANNJREFUeNq0lMENgzAMRRPUe7IBjMAIHLtVOwojsEImCCOEG8dukNqSi0ziGC61ZIWQ5/+DkWzMOSJkLjKaRuScY67jxD8gX/TsIUdBZ2QMiporHpiDt3TL28EMbkUHOUHOtJ9IxLIL/M5mOq94tlY8GgTIRC+TcIkPOwvWWolPEo9sV4gNgoFXOjAIdb5sEY8giGwtdfqasm7TDHpBxyk/vBfqnGbw9xatgsiuGKxCi3bNYKHevmmP61MxWBin8q4xJvi4cKz3rjEmjnGBDLJfAQYAYwF7Bykz4ToAAAAASUVORK5CYII=");
}

@media screen and (max-width: 50em) {
    #container {
        width: auto;
        max-width: 32em;
        margin-top: 1em;
    }

    .entry {
        margin-left: 1em;
        margin-right: 1em;
    }

    .entry .imagebox img {
        max-width: 93%;
        max-height: 450px;
    }

    .entry .date {
        float: none;
        margin: 1em 0 0.5em 0;
        width: auto;
        text-align: left;
        letter-spacing: normal;
    }

    .entry .date * {
        display: inline !important;
        font-size: inherit !important;
        line-height: inherit !important;
        letter-spacing: inherit !important;
        font-variant: normal !important;
    }

    .entry .date .day:after {
        font-size: inherit;
    }

    .entry .date .time {
        margin-left: 0.5em;
    }

    #header {
        margin-bottom: 3em;
    }

    #header h1 {
        font-size: 2.5em;
        padding-left: 0.3em;
    }

    #header #navigation {
        float: right;
        margin-top: -0.5em;
        margin-right: 1em;
        text-align: right;
    }

    #header #navigation a {
        margin-left: 0em;
        padding: 0;
        font-size: 0.9em;
        display: block
    }

    .comment {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .comment h2 {
        margin-top: 2em;
    }

    .comment .content {
        margin-top: 1em;
        margin-left: 0em;
    }

    .tagcloud {
        padding: 0 1em;
    }

    .statistics .graphs a {
        float: none;
        margin: auto;
        margin-bottom: 10px;
    }

    .statistics .graphs .graph {
        float: none;
    }

    .archive .timeline {
        width: auto;
        padding-bottom: 2em;
    }

    .archive .timeline a {
        display: block;
        margin: 0;
    }

    .entry .adminbox {
        float: none;
        margin: 0;
    }

    .table .left {
        width: 8em;
    }

    .editor .left {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .table .left {
        width: 0;
    }
}
